// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #F1FED7;
@light-gray: #D1CED7;
@gray: #555555;
@dark-gray: #101111;

@cyan: #3F6FF1;
@blue: #E1FCDF;
@purple: #FF0FFF; //#C85AB4;
@green: #00EE00;
@red: #FF0F1F;
@orange: #FF982F;
@light-orange: #FFC0F0;
