// These colors are specific to the theme. Do not use in a package!

@very-light-gray: white;
@light-gray: #D1CED7;
@gray: #59090F;
@dark-gray: #190909;

@cyan: #3F6FF1;
@blue: #E1FCDF;
@purple: #C85AB4;
@green: #00EE00;
@red: #FF0F0F;
@orange: #FE782F;
@light-orange: #F9AF53;
